.date {
  font-size: 25px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  color: rgb(251, 248, 248);
  padding-bottom: 30px;
}

.location-bar {
  margin-top: 34px;
  display: flex;
  justify-content: center;
}
.container {
  height: 500px;
  width: 620px;
  margin-top: 20px;
  padding-bottom: 12px;
  border-radius: 54px;
  box-shadow: -31px 31px 54px #8c9fa9, 31px -31px 54px #ffffff;
  background: rgb(214, 138, 74);
  background: linear-gradient(
    0deg,
    rgba(214, 138, 74, 0.9542410714285714) 0%,
    rgba(210, 118, 64, 0.9598433123249299) 5%,
    rgba(226, 123, 65, 0.9934567577030813) 19%,
    rgba(236, 131, 48, 1) 31%,
    rgba(246, 145, 63, 0.9766500350140056) 57%,
    rgba(236, 180, 136, 1) 86%,
    rgba(233, 191, 158, 1) 100%
  );
}
.temperature-grid {
  margin-top: 60px;
  border: none;
}
.body-style {
  background: #a5bad9;
  background: -webkit-linear-gradient(to right, #b6fbff, #8aa3c8);
  background: linear-gradient(to right, #b9edf0, #87a3ce);

  width: 800px;
  display: block;
  margin: 0 auto;
}
.source-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  color: rgb(251, 248, 248);
}
.current-location-bt {
  display: block;
  margin: 0 auto;
}
.current-location-bt:hover {
  background: #f29953;
  color: #ffffff;
}

.forecast-grid {
  display: flex;
  justify-content: center;
  font-weight: 500;
  color: rgb(251, 248, 248);
  margin-left: 80px;
}
li {
  list-style: none;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  color: rgb(251, 248, 248);
  position: relative;
  top: -30px;
}

ul {
  padding: 0;
  margin: 0;
  margin-top: 25px;
  padding-bottom: 20px;
}
h1 {
  padding-top: 30px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  color: rgb(251, 248, 248);
}
.temperature {
  font-size: 70px;
  text-align: center;
  font-weight: 900;
  color: rgb(251, 248, 248);
  font-family: "Montserrat Alternates", sans-serif;
  position: relative;
  bottom: -50px;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  color: rgb(251, 248, 248);
}
.icon {
  width: 90px;
  height: 90px;
  position: relative;
  bottom: -30px;
}
button {
  width: 150px;
  height: 50px;
  background: #83a4d4;
  background: -webkit-linear-gradient(to right, #bee7e9, #a0b3d0);
  background: linear-gradient(to right, #b6fbff, #a8b8d0);
  color: #5c270d;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bolder;
  font-weight: 900;
}
input {
  font-size: 15px;
  padding: 5px 5px 5px 5px;
  display: block;
  width: 150px;
  border: none;
  border-bottom: 1px solid rgb(242, 245, 247);
  background: transparent;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  color: rgb(251, 248, 248);
}

.form-location-bar {
  width: 100px;
}
hr {
  width: 500px;
  display: block;
  margin: 0 auto;
  color: #ffffff;
}
div.col-2 {
  padding: 30px;
}
