.icon-location {
  width: 18px;
  position: relative;
  top: -30px;
  right: -190px;
}
.city-name {
  font-size: 60px;
  margin-top: 0px;
}
.date {
  font-size: 20px;
}
.max-temperature {
  font-size: 70px;
  margin-left: 20px;
}

header {
  padding: 40px 30px 5px;
  padding-left: 10px;
  margin-left: 20px;
}
.location-bar {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.container {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 12px;
  border-radius: 74px;
  background: linear-gradient(225deg, #6fc3e9, #51b3c5);
  box-shadow: -31px 31px 54px #8c9fa9, 31px -31px 54px #ffffff;
}
.temperature-grid {
  margin-top: 60px;
  border: none;
}
.form-location-bar {
  border-radius: 15px;
}
.body-style {
  background-image: url("/src/pexels-eberhard-grossgasteiger-1287142.jpg");
  width: 800px;
  display: block;
  margin: 0 auto;
}
.source-link {
  text-decoration: none;
  text-align: center;
}
.current-location-bt {
  display: block;
  margin: 0 auto;
}
.icon {
  width: 20px;
}
.weekgrid {
  background: wheat;
}
li {
  list-style: none;
  text-transform: capitalize;
}

ul {
  padding: 0;
  margin: 0;
  margin-top: 30px;
}
h1 {
  padding-top: 20px;
}
.weather-temperature svg {
  width: 90px;
  margin-left: 20px;
}
svg {
  color: #3f9aae;
}
