:root {
  --orange-color: #e8822d;
  --salmon-color: #eda082;
  --yellow-color: #d9a735;
  --purple-color: #c7b9c5;
  --peach-color: #edccb6;
}
@media (max-width: 600px) {
  .icon {
    display: none;
  }
  div.container.text-center {
    width: 300px;
    height: 500px;
    border: none;
    padding: 0;
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 500px;
  }
  a.source-link {
    display: none;
  }
  h1#city {
    color: white;
  }
  ul.plus-info {
    margin-top: 20px;
    background: #ba686e;
    box-shadow: 47px 47px 90px #8d4f54, -47px -47px 90px #e78188;
    margin-top: 50px;
    border-radius: 5px;
    padding-left: 0;
  }

  li#date {
    margin-top: 0;
  }
  div.col-2 {
    margin-left: 20px;
    padding: 0;
  }
}

.date {
  font-size: 24px;
  margin-top: 30px;
  color: white;
}

.location-bar {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
body {
  background-color: #ba686e;
}
.container {
  margin-top: 70px;
  border-radius: 5px;
  background-image: url("/src/8c6293f2ccb3b36222301e5da06f6f60.gif");
  border: 2px solid white;
  width: 550px;
}
.temperature-grid {
  margin-top: 60px;
  border: none;
}

.source-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-weight: 900;
  color: white;
}

button:hover {
  background: #ba686e;
  color: white;
}

.forecast-grid {
  font-weight: 500;
}
li {
  list-style: none;
  color: white;
  padding: 5px;
}
div.row {
  margin: 0;
}
h1 {
  padding-top: 10px;
  font-weight: 700;
  color: white;
  font-size: 50px;
}
.temperature {
  font-size: 70px;
  text-align: center;
  font-weight: 300;
  margin-top: 30px;
  color: white;
}

a {
  text-decoration: none;
  font-weight: 900;
  color: rgb(251, 248, 248);
}
.icon {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  filter: drop-shadow(0 0 15px white);
}
button {
  width: 150px;
  height: 60px;
  background: #b7788e;
  color: white;
  border: 2px solid white;
  text-align: center;
  border-radius: 5px;
}
div.col-sm-6 {
  margin-top: 30px;
}
input {
  font-size: 15px;
  padding: 5px 55px 5px 5px;
  display: block;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
}
.search-location-bar {
  width: 50px;
  font-size: 10px;
  padding: 5px 10px;
  color: white;
}
.form-location-bar {
  width: 180px;
}

div.col-2 {
  padding: 30px;
}
h3 {
  font-size: 20px;
  color: white;
}
div#forecast.forecast-grid {
  margin: 0;
  padding: 0;
  color: white;
}
li.city-info {
  color: white;
  background-color: #94466a;
  border-radius: 50px;
  box-shadow: 5px 3px 10px #525e63, -5px -3px 10px #ffffff;
  border-radius: 5px;
}
